<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="methods" name="Suite">
  <test thread-count="5" parallel="methods" name="Test">
    <classes>
      <class name="testng_parallel_sample.Login_2"/>
      <class name="testng_parallel_sample.GetText_1"/>
      <class name="testng_parallel_sample.CheckingTheWebElements"/>
      <class name="testng_parallel_sample.VerifyText"/>
      <class name="testng_parallel_sample.Navigate2"/>
      <class name="testng_parallel_sample.APByXpathsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
